<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" media="screen" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>


	<h1>HELLO FROM SPRINGBOOT MVC WITH JPA AND THYMLEAF TEMPLATE :)</h1>
	<h2>Hello Again :)</h2>
	<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr th:each="item : ${items}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>

				</tr>
			</tbody>
		</table>
	</div>


	<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>