<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" media="screen" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />




</head>
<body>



	<!-- 	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>PRODUCT NAME</th>
					<th>VIEW</th>
				</tr>

				<tr th:each="item : ${items}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>
					<td><a th:href="${'/item/view/' + item.id}">View</a></td>
					<td>
						<form action="/delete" method="post">
							<input type="hidden" name="id" th:value="${item.id}" />
							<button type="submit" class="btn btn-dark"
								onclick="return confirm('Sure you want to delete')">Delete</button>
						</form>
					</td>
				</tr>

			</table>
		</div>
	</div>
-->

	<h3>PRODUCTS</h3>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="container-fluid">
				<div class="row">
					<div class='col-md-4' th:each="item : ${items}">
						<div class="card">
							<div class="card-block">
								<h4 class="card-title" th:text="${item.name}"></h4>
								<table class="table">
									<tr>
										<td>QUANTITY</td>
										<td th:text="${item.quantity}"></td>
									</tr>
									<tr>
										<td>UNIT PRICE(without tax)</td>
										<td th:text="${item.price}"></td>
									</tr>
								</table>
							</div>
							<div class="card-footer">
								<a th:href="${'/item/view/' + item.id}" style="display: inline;">View</a>
								<form action="/delete" method="post" style="display: inline;">
									<input type="hidden" name="id" th:value="${item.id}" />
									<button type="submit" class="btn btn-dark"
										onclick="return confirm('Sure you want to delete')">Delete</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<p>total sum of products :</p>
			<p th:text="${sum}"></p>
		</div>
	</div>
	<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>