<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Product</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" media="screen" />
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>

	<div class="table-responsive">
		<form action="/edit" method="post">
			<table class="table">
				<tr>
					<td>NAME</td>
					<td><input name="name" id="name" type="text"
						th:value="${item.name}" /></td>
				</tr>
				<tr>
					<td>QUANTITY</td>
					<td><input name="quantity" type="text" id="quantity"
						th:value="${item.quantity}" /></td>

				</tr>
				<tr>
					<td>PRICE</td>
					<td><input name="price" type="text" id="price"
						th:value="${item.price}" /></td>
				</tr>
				<tr>
					<td>DESCRIPTION</td>
					<td><input name="description" type="text" id="description"
						th:value="${item.description}" /></td>
				</tr>
				<tr>
					<td>IMAGE</td>
					<td><input name="image" type="text" id="image"
						th:value="${item.image}" /></td>
				</tr>
				<tr>
					<td><input type="hidden" name="id" th:value="${item.id}" />
						<button type="submit" class="btn btn-dark">Save Edits</button></td>
				</tr>

			</table>
		</form>
	</div>
	<form action="/review" method="post">
		<input type="hidden" name="id" th:value="${item.id}" />
		<textarea style="width: 800px" name="reviewContent" id="reviewContent">Enter Review</textarea>
		<button type="submit" class="btn btn-success">Save</button>

	</form>
	<div class="row">
		<div class="col-md-6">
			<div class="card" th:each="review : ${reviews}">
				<div class="card-header review-header">BILAL ASIF MIRZA</div>
				<div class="card-body review-content">
					<p th:text="${review.reviewText}"></p>
				</div>
				<div class="card-footer review-footer">
					<p th:text="${review.timeStamp}"></p>
				</div>
			</div>
			<br />
		</div>
	</div>
	<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>